/* General */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&family=Lato&display=swap');

:root {
    /* COLORS */
    --primary-color: #D07318;
    --secondary-color: #e0a97A;
    --accent1-color: #9EC1CC;
    --accent2-color: #333333;
    --accent3-color: #f3f3f3;
    --accent4-color: #f44336;
    /* FONTS */
    --font-1: "Crimson Text", serif;
    --font-2: "Lato", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;
    font-family: var(--font-2);
    
}

a {
    cursor: pointer;
    text-decoration: none;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

hr {
    width: 50%;
    border-top: 1px solid var(--accent2-color);
    margin-top: 1rem;
}

.heading {
    text-align: center;
    font-size: 2rem;
    color: #333;
    padding: 1rem;
    margin: 1.5rem 0;
    background: rgba(255, 51, 153, .05);
    width: 100%;
}

.heading span {
    color: var(--primary-color);
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background-color: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: var(--accent4-color);
    color: var(--accent3-color);
}



/* Navigation */
nav {
    width: 100%;
    background-color: var(--accent3-color);
    display: flex;
    justify-content:space-around;
    align-items: center;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
    z-index: 1000;
}

.logo img {
    width: 280px;
    padding: 1.5rem;
}

.nav-menu {
    display: flex;
    gap: 3rem;
}

.nav-link {
    color: var(--accent2-color);
    font-weight: bold;
    transition: 0.3s ease-out;
    
}

.nav-link:hover {
    color: var(--primary-color);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: var(--accent2-color);
}


/* Hero Section */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero-image.jpg");
    height: 75vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.hero-text {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem;
    color: var(--accent3-color)
}

.hero-text h1 {
    text-transform: capitalize;
}

.hero-text h1, .hero-text a {
    margin-top: 1.5em;
    text-align: center;
}

.hero-text a {
    background-color: transparent;
    border: 2px solid var(--accent3-color);
    color: var(--accent3-color);
    padding: 0.938rem 2rem;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: .125rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: 0.4s;
}

.hero-text a:hover {
    background-color: var(--accent3-color);
    color: var(--accent4-color);
}

/* About */
.about .row {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-bottom: 3rem;
    margin: 0 1rem;
}

.about .row .video-container {
    flex: 1 1 40rem;
    position: relative;
}

.about .row .video-container video {
    width: 100%;
    border: 1rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
    height: 100%;
    object-fit: cover;
}

.about .row .content {
    flex: 1 1 40rem;
    justify-content: left;
}

.about .row .content h3 {
    font-size: 1.5rem;
    color: var(--accent2-color);
}

.about .row .content p {
    font-size: 1.5rem;
    font-family: var(--font-1);
    color: var(--accent2-color);
    padding: 1.5rem 0 2rem 0;
    line-height: 2rem;
}

/* Stats */
.stats {
    width: 100%;
    background-color: var(--accent1-color);
}

.stats-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

.stat-item {
    text-align: center;
    line-height: 3rem;
    color: var(--accent2-color);
}

.stat-item h2 { 
    font-size: 2.5rem;
}

.stat-item h3 {
    font-size: 1rem;
    font-weight: 100;
    
}

/* Events and Weather */


.events-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 1rem;
    gap: 1.5rem;
}

.main-event {
    width: 45%;
    position: relative;
}

.event-heading {
    font-size: 1.5rem;
    font-family: var(--font-1);
    padding: 0 0 .5rem 0;
}

.event-title {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.event-text {
    font-family: var(--font-1);
    font-size: 1.2rem;  
}

.event-title,
.event-text {
    margin: 0 0 1rem 0;
}

.event-link {
    color: var(--primary-color);
    font-weight: bold;
    display: inline-block;
    border-radius: 5rem;
    background-color: transparent; 
    padding: 0.5rem 1.2rem;
    border: 2px solid var(--primary-color);
    -webkit-transition-duration: 0.4s; /*Safari  */
    transition-duration: 0.4s;
   
}

.event-link:hover {
    background-color: var(--primary-color);
    color: var(--accent3-color);
}

.main-event img {
    width: 100%;
    border: .8rem solid var(--accent3-color);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
    object-fit: cover;
    margin: 0 0 1rem 0;
}

.upcoming-events {
    width: 50%;
}
.upcoming-events-content {
    display: flex;
    margin: 1rem 0;
    background-color: var(--primary-color);
    border-radius: 10px;
    justify-content: flex-start;
    
}

.event-date {
    border-right: 2px solid var(--accent3-color);
    
}

.event-date p {
    font-family: var(--font-2);
    text-transform: uppercase;
    font-size: 1.1rem;
    padding: 0 1.5rem;
    margin: .5rem 0 .5rem 0;
    color: rgba(0, 0, 0, 0.5);
}

.event-date h3 {
    text-align: center;
    font-size: 2.5rem;
}

.event-info p{
    font-size: 1.2rem;
    color: rgb(16,16,16);
    margin: .8rem 1.5rem;
}

.event-info h2 {
    color: var(--accent3-color);
    letter-spacing: .125rem;
}

.event-info .event-caption {
    color: rgb(16,16,16);
    font-size: 1.3rem;
}

.event-info .event-link {
    color: var(--accent3-color);
    font-weight: bold;
    display: inline-block;
    border-radius: 5rem;
    background-color: transparent; 
    padding: 0.5rem 1.2rem;
    margin: 1rem;
    border: 2px solid var(--accent3-color);
    -webkit-transition-duration: 0.4s; /*Safari  */
    transition-duration: 0.4s;
}

.event-info .event-link:hover {
    background-color: var(--accent3-color);
    color: var(--primary-color);
}

/*------ Weather ---------*/
.weather {
    background-color: var(--accent1-color);
    border-radius: 5px;
    margin-bottom: 1rem;
}

.weather-widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--accent2-color);
}

#location {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1.1rem 0 .8rem 0;
}

#temp {
    font-size: 2rem;
    font-weight: 600;
}

.conditions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#weather-icon {
    max-width: 100%;
}

#weather-desc {
    text-transform: capitalize;
}

.weather-forecast {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.weather-forecast section {
    margin: 0 0 1rem 0;
    width: 10rem;

    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px; 
}

.weather-forecast section h4 {
    text-align: center;
    margin: .5rem 0 0 0;
}

.weather-forecast section img {
    max-width: 100%;
}

.weather-forecast section p {
    text-transform: capitalize;
    font-size: 1.2rem;
    
}

/* FOOTER */
footer {
    background: var(--accent2-color);
}

.row-footer {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    padding: 1.5rem;
    color: var(--accent3-color);
}
.col-1 {
    width: 40%;
}

.col-2 {
    width: 40%;
}

.col-3 {
    width: 30%;
}
.col-1 .footer-links {
    display: flex;
    gap: 1.5rem;
    list-style: circle;
    padding: 2rem 0 1.5rem 0;
}

.footer-links a {
    color: var(--accent3-color);
}

.footer-links a:hover {
    color: var(--accent4-color);
}

.col-2 i {
    border-radius: 50%;
    background: var(--accent3-color);
    padding: .5rem;
    margin: .5rem 0;
    color: var(--accent2-color);
}

.col-2 span {
    margin-left: 1rem;
    color: var(--accent3-color);
}

.col-3 h4,
.col-3 p {
    margin: 0 0 .5rem 0;
    color: var(--accent3-color);
}

.col-3 p {
    font-size: .98rem;
}

.col-3 ul {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    color: var(--accent3-color);
    cursor: pointer;
}

.student-info {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;

    padding: 1rem 0;
    color: var(--primary-color);

}


/* DISCOVERY PAGE */
.grid-container {
    display: grid;
    grid-template-columns: 250px 1fr; /* 250px for sidebar, 1fr for main content */
}
  
.sidebar {
    grid-column: 1; /* spans first column */
    background-color: #dee5e5;
    padding: 1.2rem 1.8rem 1.2rem 1.5rem;
    color: var(--accent2-color);
}
  
.main-content {
    grid-column: 2; /* spans second column */
    width: 100%;
    display: grid;
    text-align: center;
}

.sidebar-title {
    margin: 1rem 0;
}

.sidebar-para {
    font-size: .89rem;
    line-height: 1.2rem;
    padding: .5rem 0;  
}

.sidebar table {
    margin: .5rem 0;
}
.sidebar td {
    padding: .3rem 0;
    font-size: .85rem;
    vertical-align: text-top;
}

.sidebar .table-heading {
    font-weight: bold;
    font-size: .8rem;   
}

.local-storage {
    border-top: 1px solid var(--accent2-color);
    padding: 1.5rem 0;
    font-weight: bold;
}

.local-storage p{
    font-size: .8rem;
    padding: .5rem 0;
}

.local-storage span {
    font-size: 1rem;
    color: var(--accent4-color);
}

.photo-wrapper {
    margin: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem;
}

.local-photo:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.photo-wrapper figcaption {
    font-family: var(--font-2);
    text-align: left;
    color: var(--accent4-color);
    
}

.local-photo {
    width: 100%;
    min-height: 80vh;
    object-fit: cover;  
}

.photo-article {
    text-align: left;
    padding: 1rem 0;
    font-family: var(--font-1);
    font-size: 1.3rem;
}

/*----------- JOIN PAGE --------------*/
main .container {
    display: flex;
}

.form-section {
    flex: 1;
}

main h1,
main h2, 
main p {
    margin: 1.5rem;
    width: 90%;    
}

main h1 {
    color: var(--primary-color);
    font-size: 2.5rem;
}

main p, .member-benefits p {
    font-family: var(--font-1);
    font-size: 1.5rem;
    color: var(--accent2-color);
}

.form-section {
    margin: 0 1.5rem;
    
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: .5rem 2%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

form legend {
    color: var(--primary-color);
    font-weight: bold;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top {
    display: block;
    padding-top: 1rem;
    color: var(--accent4-color);
    font-size: .9rem;
}

form label.top input, form textarea {
    display: block;
    font-size: 1rem;
    border: 1px solid #999;
    border-radius: 4px;
    padding: .75rem;
    color: var(--accent2-color);
    width: 96%;
}

form ul li {
    color: var(--accent2-color);
    width: 100%;
    height: 2rem;
    margin: .5rem 0;
}

form ul li label {
    font-size: 1rem;
    padding: 0 .3rem;
    cursor: pointer;
    
}

form textarea {
    background-color: #f8f8f8;
    resize: none;
}

form input.submitBtn {
    border: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: .3rem .5rem 1.5rem 0;
    width: 50%;
    max-width: 20rem;
    text-align: center;
    font-size: 1.3rem;
    cursor: pointer;
}

.container .member-benefits {
    width: 50%;
    margin: .5rem 0; 
}

.member-benefits p {
    font-size: 1.2rem;
}

.card {
    margin: 1.5rem;
    padding: 1rem;
    color: #202020;
    border-radius: 10px;
    min-height: 40vh;
}

.card h3 {
    text-transform: uppercase;
    letter-spacing: .15rem;
    padding: .5rem 2rem .5rem 0;
    border-bottom: solid 1.5px rgba(0, 0, 0, 0.1);
    font-size: 1.3rem;
}

.card h4 {   
   
    font-weight: bold;
    font-size: 1.5rem;
    font-family: var(--font-1);
    text-transform: none;
    background-color: var(--accent3-color);
    padding: .3rem 1.5rem;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
}
.card p {
    font-family: var(--font-2);
    margin: .8rem 0;
    padding: 0 1rem;
    font-size: 1.1rem;
}

.card ul {
   margin: 1.5rem 3rem;
   font-family: var(--font-1);
   font-size: 1.2rem;
}

.card ul li{
    list-style: disc;
}

.card hr {
    display: block;
    border: none;
    height: 1.5px;
    background-color: var(--accent2-color);
    width: 100%;
}

.np {
    background-color: var(--accent1-color);
}

.np p {
    margin: 1rem 0 6rem 0;
}

.bronze {
    background-color: #CD7F32;
}

.silver {
    background-color: #C0C0C0;
}

.gold {
    background-color: #FFD700;
}

/*------------------THANKS------------------*/
main .thanks {
    height: 25rem;
}

/*--------------- DIRECTORY ----------------*/
.cards {
    width: 70%;
    margin: 0 auto;
}

.cards section {
    min-height: 35vh;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .3rem;
    margin: 1rem;

    display: flex;
    flex-wrap: wrap;
}

.cards section div:first-child {
    width: 40%;
    align-self: center;
    padding: 0 1rem;
}

.cards section div img {
    max-width: 100%;
}

.cards section div:last-child {
    width: 60%;
}

.cards section div h2 {
    color: var(--accent2-color);
    font-family: var(--font-2);
    font-size: 2.1rem;
    text-transform: uppercase;
    letter-spacing: .1rem; 

    margin: 1rem 1.5rem .5rem 1.5rem;
}

.cards section div p {
    font-size: 1.3rem;
    color: #333;
    margin: 2rem 1.5rem 2.5rem 1.5rem;
}

.cards section div h4 {
    text-transform: capitalize;
    margin: 0 1.5rem;
    padding: .1rem .3rem;
    width: 20%;
    text-align: center;
    border-radius: 2rem;
    font-weight: 100;
}

.cards section div h3 {
    margin: 0 1.5rem 1rem 1.5rem;   
    font-weight: 400;
    font-size: 1.1rem;
    color: var(--secondary-color);
    letter-spacing: .05rem;
}

.cards section div:last-child p:last-child {
    margin: 1rem 1.5rem 1rem 1.5rem;
    display: flex;
    gap: .2rem;
}

.cards section div:last-child p:last-child span {
    width: 100%;
    padding: .5rem;
    margin: 0 0 1.5rem 0;

    font-family: var(--font-2);
    font-size: .95rem;
    letter-spacing: .05rem;
    text-align: center;
    color: #606060;

    background-color: var(--accent1-color);
    border-radius: 3px;
}

.cards section div:last-child p:last-child span a {
    color: #606060;
}

.cards section div:last-child p:last-child span a:hover {
    color: var(--accent3-color);
    text-decoration: underline;
}

/*------- Menu Directory-----------*/
.directory-menu {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#grid, #list {
    width: 4rem;
    height: 4rem;
    border: 1px solid var(--accent3-color);
    background-color: var(--accent1-color);
    border-radius: 5px;
    cursor: pointer;
    margin: 0 0 1rem 0;
}
.icon {
    font-size: 2rem;
    color: var(--accent2-color);
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    margin: 0;
}

.list section:nth-child(even){
    background-color: rgba(0, 0, 0, 0.1);
}

.list section div:first-child {
    display: none;

}

.list section div:last-child {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.list section div h4, 
.list section div p {
    display: none;
    margin: 0;
    padding: 0;
}

.list section div h2{
    font-size: 2rem;
    text-align: center;
    color: var(--primary-color);
}
.list section div h3, 
.list section div p{
    font-size: 1.2rem;
    color: var(--accent2-color);
}

.list section div {
    margin: .5rem 0rem .5rem 1.5rem;
}

.list section div h3 {
    margin: .2rem 0rem 1rem 0rem;   
}
