:root {
    --peach: #ef9273;
    --snow: #fef9f8;
    --rich-black: #0d0d0d;   
    --pink-pantone: #de5499;
    --rose-madder: #EA1537;
}   

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    scroll-behavior: smooth;
}

a {
    cursor: pointer;
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 76.5rem;
    width: 90%;
    margin: 0 auto;;
}

nav {
    position: fixed;
    top: 0; left: 0; right: 0;
    background: white;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
    border-top: .5em solid var(--peach);
}

.navbar {
    min-height: 4.375rem;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 2rem;
}

.nav-menu {
    display: flex;
    gap: 2rem;
    padding: 2rem;
}

.nav-link {
    color: var(--rich-black);
    font-weight: bold;
    transition: 0.3s ease-out;
}

.nav-link:hover {
    color: var(--peach);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: var(--rich-black);
}

#mode {
   font-size: 1.5rem;
   cursor: pointer;
}

header {
    padding-top: 8em;
    background-color: var(--snow);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

header img {
    border-radius: 50%;
    width: 25%;
}

header h1 {
    font-weight: regular;
    font-size: 2.5rem;
    color: var(--rich-black);
}

header span {
    font-family: "Lora", serif;
    color: var(--rich-black);
}

main {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2em;
    padding: 1em;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.1);
}

main h2 {
    grid-column-start: 1;
    grid-column-end: 4;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 2rem;
}

.first {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    
}

.card {
    padding-bottom: 2em;
    margin: 0;
    background-color: var(--snow);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
    border-radius: 0 0 .5em .5em;
}

.card h3 {
    font-family: "Lora", serif;
    background-color: var(--peach);
    color: var(--rich-black);
    padding: 1em;
    margin-bottom: 1em;
}

.card ul,
.card a,
.card label {
    list-style: none;
    padding-left: 1em;
}

.card a{
    color: var(--rich-black);
    
}

.card a:hover {
    background-color:var(--rose-madder);
    color: var(--snow);
    align-items: center;
    padding: 0 .5em;
    border-radius: .3em;
}
.card span, .card label {
    font-weight: bold;
}

footer {
    background: #212121;
    color: #d9d9d9; 
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
    margin: 0;
}

footer p {
    padding: .5em;
    font-size: .8em;
}