@media only screen and (max-width: 600px) {
    nav {
        display: flex;
        flex-direction: column-reverse;
        align-items:center;
    }

    header {
        padding-top: 12em;
    }

    main {
        display: block;
        
    }

    .card {
        margin: 1em 0;
        padding-bottom: 2em;
    }

    footer p{
        font-size: 1em;
    }
}